.header1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3%;
}

header {
    width: 100%;
    align-items: flex-start;
    padding-top: 5%;
}

.full {
    display: none;
}

.bigfoto {
    display: none;
}

.zareg p {
    font-size: 1.6em;
    font-weight: 700;
}

.nachaloRaboty p {
    font-size: 1em;
}

.registr {
    margin: auto;
}

.nachaloRaboty {
    font-weight: 500;
}

.cnopki {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 23px;
    width: 100%;
    margin: 4%;
}

.cnopki input {
    width: 100%;
    height: 56px;
    border: 1px solid rgba(145, 158, 171, 0.3);
    border-radius: 8px;
    padding: 0 0 0 3%;
    margin-bottom: 5%;
    font-size: 16px;
    font-weight: 400;
}

button {
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    width: 100%;
    color: white;
    background: #3258FB;
    box-shadow: 0px 8px 16px rgba(50, 88, 251, 0.24);
    border-radius: 8px;
    height: 50px;
}

.footer {
    text-align: center;
}

.ssulka1 {
    text-decoration: none;
}

.ssulka1:hover {
    text-decoration: underline;
}

.ssulka2 {
    text-decoration: none;
}

.ssulka2:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1440px) {
    .full {
        display: block;
        font-size: 1.7em;
        font-weight: 800;
    }

    .header1 {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin: 0px;
    }

    .cnopki {
        margin: 0;
        padding: 0;
    }

    header {
        width: auto;
        background: #FFFFFF;
        /* 01 Shadows/Light/z16 */

        box-shadow: 0px 16px 32px -4px rgba(145, 158, 171, 0.12);
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .header3 {
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        margin-top: -20%;
    }

    .centr {
        width: 480px;
        margin-right: 5%;
        display: contents;
    }

    .tipbigfoto {
        padding: 45% 0;
    }

    .bigfoto {
        display: block;
    }

    .registr {
        width: 50%;
    }

    .footer1 {
        width: 90%;
        order: -1;
        display: flex;
        justify-content: end;
    }
    .footer{
        color: #919EAB;
    }

    .zareg p {
        font-weight: 700;
        font-size: 1.5em;
    }

    .nachaloRaboty p {
        font-weight: 400;
        font-size: 1em;
    }

    .cnopki input {
        width: 98%;
    }

    .obshiy {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .obshiy>input {
        width: 45%;
    }

}